<!DOCTYPE html>
<html ng-app="mainApp">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Content-Script-Type" content="text/javascript">

    <title>Angular Practice</title>

    <script type="text/javascript" src="../lib/angular.min.js"></script>
  </head>

  <body>
    <div id="wrap">

      <div id="header">
        <h2>Angular Practice</h2>
      </div>

      <div id="container" ng-controller="MainCtrl">
          <label>change name:</label>
          <!-- <input type="text" ng-model="name" placeholder="Enter a name here"> -->
          <input type="button" value="Foo" ng-click="name='Foo'">
          <input type="button" value="Bar" ng-click="name='Bar'">
          <hr>
          <h1>current name: {{name}}</h1>
          <hr>
          <h2>new name: {{newName}}</h2>
          <h2>old name: {{oldName}}</h2>
      </div>

    </div>

    <script type="text/javascript" src="./01.scope_watch.js"></script>
  </body>
</html>
