<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Content-Script-Type" content="text/javascript">

    <title>Angular Practice</title>

    <link rel="stylesheet" type="text/css" href="./css/todo.css">

    <script type="text/javascript" src="../lib/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../lib/lodash.min.js"></script>
    <script type="text/javascript" src="../lib/angular.min.js"></script>

    <script type="text/javascript" src="./js/controllers.js"></script>
    <script type="text/javascript" src="./js/services.js"></script>
    <script type="text/javascript" src="./js/directives.js"></script>
    <script type="text/javascript" src="./js/filters.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
</head>

<body ng-app="todoApp">
    <div id="todoapp" ng-controller="TodoCtrl">
        <header>
            <h1>Todos by Angular.js</h1>
            <input id="new-todo" type="text" size="30" placeholder="Do I need to do?"
                ng-model="todoText" on-enter="addTodo(todoText)"/>
        </header>

        <section id="main" style="display: block;">
            <div ng-show="isTodo()">
                <input id="toggle-all" type="checkbox" ng-model="markAll" ng-click="toggleMarkAll()"/>
                <label for="toggle-all">Mark all as complete</label>
            </div>
            <ul id="todo-list" class="unstyled">
                <todo-item ng-repeat="todo in todos" model="todo"></todo-item>
            </ul>
        </section>

        <footer style="display: block;">
            <div class="todo-count">{{remaining()}} of {{todos.length}} remaining</div>
            <a id="clear-completed" ng-show="hasDone()" ng-click="clear()">
                Clear <span>{{(todos.length - remaining()) | addItemText}}</span>.
            </a>
        </footer>
    </div>
</body>

</html>
